* {
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: rgb(15, 14, 35);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    user-select: none;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: rgb(255, 255, 255, 0.03);
    background-image:  radial-gradient(rgb(255, 255, 255, 0.2) 0.4px, transparent 0.4px), radial-gradient(rgb(255, 255, 255, 0.2) 0.4px, rgb(255, 255, 255, 0.03) 0.4px);
    background-size: 16px 16px;
    background-position: 0 0,8px 8px;
    border: 2px solid rgb(255, 255, 255, 0.2);
    cursor: crosshair;
    transition: 0.1s;
    border-radius: 5px;
    box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.1);
}

.flex {
    display: flex; 
    justify-content: space-between;
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4rem;
    width: 300px;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.03);
}

.controls h2 {
    margin: 0 0 1rem 0
}

.controls .subtext, 
.preview .subtext {
    font-size: 0.9rem;
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.controls input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.03);
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    outline: none;
}

.controls input:hover, 
.controls button:hover,
.preview button:hover {
    border: 1px solid rgb(255, 255, 255, 0.2);
}

.controls input:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.controls button, 
.preview button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.03);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    font-family: inherit;
}

.preview {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4rem;
    width: 300px;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.03);
    min-height: fit-content;
    overflow-y: scroll;
    max-height: 70vh;
}

.preview .data {
    width: 100%;
    margin: 0.5rem 0;
    padding-top: 0.5rem;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex; 
    justify-content: space-between
}

.preview .data .info {
    width: 120px; 
    font-weight: 400; 
    padding: 0.1rem 0.6rem; 
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 3px
}