@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,900;1,500&display=swap");
* {
    box-sizing: border-box;
}

#bannerCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    margin-top: 5rem;
    background-color: black;
    filter: brightness(0.4);
    z-index: -1;
}

body {
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

.nav .brand {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    margin: 0;
}

.nav div a {
    margin-right: 1rem;
    color: white;
    font-size: 1.1rem;
    transition: 0.15s;
    cursor: pointer;
}

header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header img {
    width: 60%;
    height: auto;
    filter: brightness(0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

header h1 {
    font-size: 2em;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
}

.headline {
    font-weight: 600;
    font-size: 4rem;
    /* color: #ffc400; */
    background: -webkit-linear-gradient(rgb(255, 200, 0), rgb(117, 107, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 1000px;
    text-align: center;
}

@media (max-width: 768px) {
    .headline {
        font-size: 3em;
    }
}

.title {
    margin: 2rem 0;
    text-align: center;
    font-weight: 500;
}

.padding {
    padding: 0 4rem;
}

.banner-container {
    height: 100vh;
    width: 100%;
    max-height: 550px;
    max-width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.banner {
    transition: background-image 1.5s ease-in-out !important;
    -webkit-transition: background-image 1.5s ease-in-out !important;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-size: cover;
    background-position: center 0%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner-container .progress-container {
    margin-top: 1rem;
    height: 8px;
    border-radius: 100rem;
    width: 100%;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
}

.banner-container .progress-container .index {
    height: 100%;
    border-radius: 100rem;
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    transition: 1s;
    cursor: pointer;
}

.banner-container .progress-container .index:hover {
    background: rgba(255, 255, 255, 0.25);
}

.banner-container .progress-container .index:nth-child(even) {
    margin: 0 0.5rem;
}

.banner-container .index-active {
    background: white !important;
}

.footer {
    width: 100%;
    background-color: #111;
    border-top: 1px solid #333;
    padding: 2rem 12vw;
}

.footer .footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.footer hr {
    border: 0;
    border-top: 1px solid #333;
    margin: 1rem 0;
}

.footer a {
    color: rgb(43, 135, 255);
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.15s;
}

.description {
    max-width: 500px;
    color: #d2d2d2;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0 auto;
}

.break {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    font-weight: 700;
    color: #b1b1b1;
}

@media (max-width: 768px) {
    .notes {
        flex-direction: column;
    }
}
