/*==================================================
 * Custom Components V2.0
 * Cohen Coombs 2022 (c) All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Cohen Coombs, 2022
==================================================*/

:root {
  --background: #12141a;
  --component: #12141a;
  --text: #ffffff;
  --subtext: #ccc;
  --link: #3355ff;
  --theme: #3150ff;
  --slider: #bbbbbb;
  --shade-1: #111111;
  --shade-2: #222222;
  --shade-3: #333333;
  --theme-red: rgb(220, 30, 50);
  --theme-green: rgb(60, 200, 80);
  --theme-orange: rgb(255, 200, 30);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --component: #eeeeee;
    --text: #000000;
    --subtext: #222222;
    --link: #3355ff;
    --theme: #3150ff;
    --slider: #bbbbbb;
    --shade-1: #ffffff;
    --shade-2: #eeeeee;
    --shade-3: #dddddd;
    --theme-red: rgb(220, 30, 50);
    --theme-green: rgb(60, 200, 80);
    --theme-orange: rgb(255, 200, 30);
  }
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: rgba(100, 150, 255, 0.3);
  color: var(--text);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  background: var(--background);
  color: var(--text);
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 120vh;
}

.app-container {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 8vw 0 8vw;
}

.banner {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85vw;
  height: 60vh;
  border-radius: 2rem;
  background-image: url("assets/banner.svg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 150%;
  box-shadow: #240BB8 1px 1px 100rem;
  animation: banner 20s infinite alternate;
}

@keyframes banner {
  0% {
    background-position: 50% 55%;
  }

  100% {
    background-position: 50% 100%;
  }
}

.banner .container {
  position: relative;
  width: 100%;
  padding: 1rem 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 50vw;
  border-radius: 100rem;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  outline: none;
  font-family: inherit;
}

@media screen and (max-width: 768px) {
  .app-container {
    padding: 1rem;
    margin-top: 2rem;
    width: 100% !important;
  }

  .logo {
    top: 0 !important;
    left: 0 !important;
    padding: 0.8rem;
    background: var(--component);
    width: 100%;
  }

  .statistics {
    display: none;
  }
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.dashboard {
  display: grid;
  transition: 0.4s;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  text-transform: uppercase;
  padding: 1rem 1rem;
  background: rgba(90, 90, 90, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  margin-top: 77vh;
  margin-bottom: 2rem;
}

.dashboard .item {
  padding: 1rem;
  color: var(--text);
  overflow: hidden;
  min-height: 7rem;
  transition: 0.2s;
  border-radius: 6px;
}

.dashboard .item:hover {
  background: rgba(90, 90, 90, 0.15);
  border-radius: 10px;
}

.dashboard .item h2 {
  margin-top: 0;
  color: var(--subtext);
  font-size: 1rem;
  font-weight: 500;
}

data {
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

#current-time {
  margin-top: -2rem;
  font-weight: 600;
  color: white;
  font-size: 4rem;
  letter-spacing: 0.4rem;
}

.status-container {
  background-color: #222;
  border-radius: 1rem;
  height: 5px;
  width: 100%;
}

.status-bar {
  margin-top: 0.5rem;
  background-color: rgb(12, 48, 146);
  box-shadow: 1px 1px 1rem rgb(0, 43, 160);
  width: 0;
  height: 5px;
  border-radius: 100rem;
}