<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{document-title}</title>
    <link rel="stylesheet" href="style.css">
    {document-style}
</head>
<body>
    <nav>
        <div class="flex">
            <img class="icon" src="{nav-icon}" alt="Logo">
            <div>
                <h2>{nav-title}</h2>
                <p class="info">{nav-description}</p>
            </div>
        </div>
        <div class="links">
            <a target="_blank" href="#">Link 1</a>
            <a target="_blank" href="#">Link 2</a>
            <a target="_blank" href="#">Link 3</a>
        </div>

        <div class="mobile-nav">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
        </div>
    </nav>

    <section class="banner"></section>

    <section class="content">
        <h1>Information</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, harum aliquid delectus cupiditate iste temporibus impedit aperiam doloremque necessitatibus, illum tempora soluta aspernatur quam magni repudiandae! Hic asperiores similique earum.
    </section>
    
    <footer>
        <h2>Contact Us</h2>
        <div class="contact-methods">
            <div class="item">
                <span class="contact-method">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                    Email:
                </span>
                <a href="mailto:{footer-email}">{footer-email}</a>
            </div>
        </div>
    
        <hr>
    
        <h2>Links</h2>
        <div class="link-container">
            <a target="_blank" href="">Link 1</a>
            <a target="_blank" href="">Link 2</a>
            <a target="_blank" href="">Link 3</a>
            <a target="_blank" href="">Link 4</a>
            <a target="_blank" href="">Link 5</a>
            <a target="_blank" href="">Link 6</a>
            <a target="_blank" href="">Link 7</a>
            <a target="_blank" href="">Link 8</a>
        </div>
        <p> {footer-copyright} </p>
    </footer>
</body>
</html>