/*==================================================
 * Custom Components V2.0
 * Cohen Coombs 2022 (c) All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Cohen Coombs, 2022
==================================================*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('elements.css');
:root {
  --background: #111111;
  --component: #151515;
  --text: #ffffff;
  --subtext: #ccc;
  --link: #3355ff;
  --theme: #3150ff;
  --slider: #bbbbbb;
  --shade-1: #111111;
  --shade-2: #222222;
  --shade-3: #333333;
  --theme-red: rgb(220, 30, 50);
  --theme-green: rgb(60, 200, 80);
  --theme-orange: rgb(255, 200, 30);
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --component: #eeeeee;
    --text: #000000;
    --subtext: #222222;
    --link: #3355ff;
    --theme: #3150ff;
    --slider: #bbbbbb;
    --shade-1: #ffffff;
    --shade-2: #eeeeee;
    --shade-3: #dddddd;
    --theme-red: rgb(220, 30, 50);
    --theme-green: rgb(60, 200, 80);
    --theme-orange: rgb(255, 200, 30);
  }
}
* {
  box-sizing: border-box;
  transition: 0.4s;
}
::selection {
  background-color: rgba(100, 150, 255, 0.3);
  color: var(--text);
}
body {
  background: var(--background);
  color: var(--text);
  padding: 0;
  margin: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}
.video {
  overflow: hidden; 
  opacity: 5%;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}
canvas {
  position: absolute;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}
.statistics {
  background-color: var(--component);
  padding: 1rem;
  border-radius: 1rem;
  width: 14rem;
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translateY(-50%);
}
.statistics p {
  text-transform: capitalize;
}
.statistics #stats-all {
  font-family: monospace;
}
.app-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20vw 0 20vw;
}
@media screen and (max-width: 768px) {
  .app-container {
    padding: 1rem;
    margin-top: 2rem;
  }
}